<!-- ==================================================================================== -->
<!-- DAGI Data Flow publishing-with-dagi.md -->
<!-- ==================================================================================== -->
{% if include.key == "gbif-ch-infrastructure-graph-fr" %}
<figure class="has-text-centered">
  <a href="/assets/images/GraphsEtSchemas/20260811_Schema_GBIFch_v2.png" data-lightbox="image-1" 
     data-title='Équipe de GBIF Suisse (2026)'>
    <img src="/assets/images/GraphsEtSchemas/20260811_Schema_GBIFch_v2.png" 
         alt="Équipe de GBIF Suisse (2026)" 
         style="max-width: 100%; height: auto; cursor: zoom-in;" />
  </a>
</figure>
{% endif %}
