<!-- ==================================================================================== -->
<!-- DAGI Data Flow publishing-with-dagi.md -->
<!-- ==================================================================================== -->
{% if include.key == "gbif-ch-infrastructure-graph-fr" %}
<figure class="has-text-centered">
  <a href="/assets/images/GraphsEtSchemas/20260811_Schema_GBIFch.png" data-lightbox="image-1" 
     data-title='Équipe de GBIF Suisse'>
    <img src="/assets/images/GraphsEtSchemas/20260811_Schema_GBIFch.png" 
         alt="Infrastructure du Noeud Suisse de GBIF" 
         style="max-width: 100%; height: auto; cursor: zoom-in;" />
  </a>
  <figcaption>Infrastructure du Noeud Suisse de GBIF</figcaption>
</figure>


{% endif %}
